.w-full {
  width: 100%;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.overline {
  letter-spacing: .125rem;
  text-transform: uppercase;
}


.mono {
  font-family: "Source Code Pro", monospace;
}

.list-style-none {
  list-style-type: none;
}

.text-decoration-none {
  text-decoration: none;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* 4 = 1rem = 16px; 1 = 0.25rem = 4px */
.my-0\.5{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.text-primary-regular {
  color: var(--primary-regular);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.text-white {
  color: var(--white)
}

.bg-primary-darker {
  background-color: var(--primary-darker);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.border-radius-tlr-6{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px ;
}

/* .card-shadow-lr{
  /* box-shadow: -5px 0 -3px 0 rgb(0 0 0 / 0.2); */
  /* box-shadow: 2px 0 rgb(228, 226, 226), -2px 0 rgb(228, 226, 226); */
/* } */

/* .padding-card{
  padding: 8px 16px 8px 16px;
} */

.padding-lr-16{
  padding-left: 16px;
  padding-right:16px;
}

.padding-t-8{
  padding-top: 8px;
}

.float-right {
  /* margin: right; */
  float: right
}

/* .margin-nc-button{
  margin-top: 22px;
  margin-bottom: 16px;
} */

.margin-bottom-22{
  margin-bottom: 18px;
}

.margin-top-16{
  margin-top: 16px;
}

.picture-card-size{
  width: 328px;
  height: 220px;
  /* border: 1px solid var(--gray-900);
  border-radius: 4px;
  margin: 2px; */
}

.flexbox-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
